h1{
    color: #6b4e93;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;

}

p{
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: bolder;
}

.CovidFoto1 {
    
width: 100%;



}

.CovidFoto2{
    width: 100.1%;

}